@use "./variables" as v;
// @media (max-width: 320px) {

.contacts {
  max-width: 320px;
  padding: 26px 0px 0px 0px;
}

.contacts__container {
  display: flex;
}

.contacts__invite {
  max-width: 140px;
  padding-left: 20px;

  font-family: v.$font;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: v.$font-color-second;
}

.contacts__addres {
  max-width: 140px;
  margin-bottom: 26px;  

  font-family: v.$font-2;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0%;
  color: v.$font-color-description;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
// }