@use "./variables" as v;
// @media (max-width: 320px) {

.example {
  box-sizing: border-box;
  max-width: 320px;
  padding: 26px 0px 40px 20px;

  background-color: v.$color-box;
}

.example__title-main {
  margin-bottom: 40px;

  font-family: v.$font;
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0%;
  color: v.$font-color-second;
}

.example__description {
  max-width: 280px;
  margin-bottom: 20px;

  font-family: v.$font-2;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 0%;
  color: v.$font-color-description;
}

.example__container {
  display: flex;
  max-width: 280px;
  gap: 32px;
}

.example__count {
  position: relative;

  box-sizing: border-box;
  width:  124px;
  margin-bottom: 22px;
  padding: 12px 0px;

  border: 1px solid v.$color-line;
  border-radius: 3px;
  text-align: center; 
}

.example__inscription {
  font-family: v.$font;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  color: v.$font-color-second;
}

.example__inscription-absolut {
  position: absolute;
  top: 45px;
  left: 21px;

  max-width: 77px;

  font-family: v.$font-2;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0%;
  color: v.$font-color-description;
}

.example__title-second {
  margin-bottom: 20px;
  padding-left: 47px;

  font-family: v.$font;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: v.$font-color-second;
}

.example__slider-box {
  position: relative;
  
  display: flex;
  max-width: 280px;
}

.example__slider {
  position: absolute;
  top: 0px;
  left: 43%;
  
  display: block;
  width: 40px;
  height: 280px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
// }



