@font-face {
  font-family: "Oswald";
  src: ("FONTS/Oswald/static/Oswald-ExtraLight.ttf") format("ttf");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: ("FONTS/Oswald/static/Oswald-Light.ttf") format("ttf");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: ("FONTS/Oswald/static/Oswald-Regular.ttf.ttf") format("ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: ("FONTS/Oswald/static/Oswald-Medium.ttf") format("ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: ("FONTS/Oswald/static/Oswald-SemiBold.ttf") format("ttf");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: ("FONTS/Oswald/static/Oswald-Bold.ttf") format("ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}