@font-face {
  font-family: "Oswald";
  src: 
    local("Oswald"),
    url("../FONTS/Oswald/static/Oswald-ExtraLight.woff") format("woff");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: 
    local("Oswald"), 
    url("../FONTS/Oswald/static/Oswald-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: 
    local("Oswald"),  
    url("../FONTS/Oswald/static/Oswald-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: 
    local("Oswald"),
    url("../FONTS/Oswald/static/Oswald-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: l
    local("Oswald"),
    url("../FONTS/Oswald/static/Oswald-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: 
    local("Oswald"),
    url("../FONTS/Oswald/static/Oswald-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: 
    local("Lato"),  
    url("../FONTS/Oswald/static/Lato-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}