@media (max-width: 320px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 14px;
    max-width: 279px;
    padding-top: 13px;
    border: 1px solid black;
  }

  .hero {
    max-width: 320px;
    background: image-set(
        url("IMAGES/mobile/index-background-desktop 2.png") type("image/png") 1x,
        url("IMAGES/mobile/index-background-desktop 2 2x.png") type("image/png") 2x
        url("IMAGES/mobile/index-background-desktop-2.webp") type("image/webp") 1x,
        url("IMAGES/mobile/index-background-desktop-2-2x.webp") type("image/webp") 2x
    );
  }
}