  // @media (max-width: 320px) {
  
  .header {
    box-sizing: border-box;
    padding-top: 4%;
    max-width: 320px;
  }

  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 10px;
    max-width: 280px;
  }

  .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
// }