@use "./variables" as v;
// @media (max-width: 320px) {

    .hero {
    position: relative;
    z-index: 0;

    box-sizing: border-box;
    max-width: 320px;
    margin: 0px, auto, 25px;
    padding-top: 27px;
    padding-left: 3.2%;

    background: image-set(
        url("../IMAGES/mobile/cat.png") type("image/png") 1x,
        url("../IMAGES/mobile/cat-2x.png") type("image/png") 2x,
        url("../IMAGES/mobile/cat.webp") type("image/webp") 1x,
        url("../IMAGES/mobile/cat-2x.webp") type("image/webp") 2x
    );
    background-repeat: no-repeat;
    object-fit: cover;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;

    display: block;
    width: 100%;
    height: 302px;

    background: image-set(
        url("../IMAGES/mobile/Rectangle.png") type("image/png") 1x,
        url("../IMAGES/mobile/Rectangle-2x.png") type("image/png") 2x,
        url("../IMAGES/mobile/Rectangle.webp") type("image/webp") 1x,
        url("../IMAGES/mobile/Rectangle-2x.webp") type("image/webp") 2x
    );
}

.hero__h1 {
    max-width: 249px;
    margin-bottom: 25px;
    padding-left: 4.2%;
    
    font-family: v.$font;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0%;
    color: v.$font-color-main;
    text-align: center;  
}

.hero__title {
    max-width: 198px;
    margin: 0px 0px 29px;
    padding-left: 12.8%;
    
    font-family: v.$font;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0%;
    color: v.$font-color-main;
    text-transform: uppercase;
    text-align: center; 
}

.hero__picture {
    margin-bottom: 2px;
    padding-left: 6,2%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
// }