@use "./variables" as v;
// @media (max-width: 320px) {
.hero {
    position: relative;
    box-sizing: border-box;
    background: image-set(
        url("../IMAGES/mobile/cat.png") type("image/png") 1x,
        url("../IMAGES/mobile/cat 2x.png") type("image/png") 2x,
        url("../IMAGES/mobile/cat.webp") type("image/webp") 1x,
        url("../IMAGES/mobile/cat 2x.webp") type("image/webp") 2x
    );
    background-repeat: no-repeat;
    object-fit: cover;

    padding-top: 27px;
    padding-left: 3.2%;
    max-width: 320px;
    margin: 0px, auto, 25px;
    z-index: 0;
}

.hero::after {
    content: "";
    position: absolute;
    display: block;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 302px;
    background: image-set(
        url("../IMAGES/mobile/Rectangle 18.png") type("image/png") 1x,
        url("../IMAGES/mobile/Rectangle 18 2x.png") type("image/png") 2x,
        url("../IMAGES/mobile/Rectangle-18.webp") type("image/webp") 1x,
        url("../IMAGES/mobile/Rectangle-18-2x.webp") type("image/webp") 2x
    );
    z-index: -1;
}

.hero__h1 {
    font-family: v.$font;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    line-height: 1;
    letter-spacing: 0%;
    color: v.$font-color-main;
    text-align: center;

    max-width: 249px;
    padding-left: 4.2%;
    margin-bottom: 25px;
}

.hero__title {
    font-family: v.$font;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
    color: v.$font-color-main;
    text-align: center;
    letter-spacing: 0%;

    max-width: 198px;
    padding-left: 12.8%;
    margin: 0px 0px 29px;
}

.hero__picture {
    padding-left: 6,2%;
    margin-bottom: 2px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


// }