@use "./variables" as v;
// @media (max-width: 320px) {

.products {
  box-sizing: border-box;
  padding-left: 20px;
}

.products__button {
  font-family: v.$font;
  ;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-transform: uppercase;
  color: v.$font-color-main;

  width: 280px;
  background-color: v.$color-main;
  padding: 10px 44px;
  margin-bottom: 20px;

  cursor: pointer;
  border: none;
}

.products__button:hover {
  background-color: v.$color-button-hover;
}

.products__button:active {
  background-color: v.$color-button-hover;
  color: v.$font-color-main-activ;
}

.products__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
  margin-bottom: 18px;
}

.products__container {
  box-sizing: border-box;
  max-width: 280px;
  background-color: v.$color-box;
  padding-left: 20px;
  padding-bottom: 25px;
}

.products__flex {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 21px;
  margin-bottom: 18px;
}

.products__title {
  font-family: v.$font;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  letter-spacing: 0%;
  color: v.$font-color-second;
  text-transform: uppercase;
}

.products__description {
  font-family: v.$font-2;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0%;
  color: v.$font-color-description;

  max-width: 227px;
  margin-bottom: 43px;
}

.products__box {
  position: relative;
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  max-width: 139px;
}

.products__box::after {
  content: "";
  position: absolute;
  display: block;
  top: -15px;
  left: 0px;
  width: 240px;
  height: 1px;
  background-color: v.$color-line;
}

.products__magazin {
  position: relative;
  font-family: v.$font;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0%;
  color: v.$font-color-second;
  text-transform: uppercase;
}

.products__title-second {
  font-family: v.$font;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  letter-spacing: 0%;
  color: v.$font-color-second;

  margin-bottom: 37px;
}

.products__list-second {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
  margin-bottom: 49px;
}

.products__item-second {
  display: flex;
  align-items: center;
  gap: 20px;
}

.products__description-second {
  font-family: v.$font-2;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0%;
  color: v.$font-color-description;

  max-width: 200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// }