@use "./variables" as v;
// @media (max-width: 320px) {

.products {
  box-sizing: border-box;
  padding-left: 20px;
}

.products__button {
  width: 280px;
  margin-bottom: 20px;
  padding: 10px 44px;

  font-family: v.$font;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: v.$font-color-main;

  background-color: v.$color-main;
  border: none;
  cursor: pointer;
}

.products__button:hover {
  background-color: v.$color-button-hover;
}

.products__button:active {
  background-color: v.$color-button-hover;
  color: v.$font-color-main-activ;
}

.products__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
  gap: 20px;

  list-style-type: none;
}

.products__container {
  box-sizing: border-box;
  max-width: 280px;
  padding: 0px 0px 25px 20px;

  background-color: v.$color-box;
}

.products__flex {
  display: flex;
  margin-bottom: 18px;  
  padding-top: 21px;
  gap: 20px;
  
  align-items: center;
}

.products__title {
  font-family: v.$font;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0%;
  color: v.$font-color-second;
}

.products__description {
  max-width: 227px;
  margin-bottom: 43px;

  font-family: v.$font-2;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 0%;
  color: v.$font-color-description;
}

.products__box {
  position: relative;

  display: flex;
  max-width: 139px;
  gap: 15px;

  justify-content: space-between;
  align-items: center;
}

.products__box::after {
  content: "";
  position: absolute;
  top: -15px;
  left: 0px;

  display: block;
  width: 240px;
  height: 1px;

  background-color: v.$color-line;
}

.products__magazin {
  position: relative;

  font-family: v.$font;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: v.$font-color-second;
}

.products__title-second {
  margin-bottom: 37px;

  font-family: v.$font;
  font-size: 36px; 
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0%;
  color: v.$font-color-second;
}

.products__list-second {
  display: flex;
  margin-bottom: 49px;
  flex-direction: column;
  gap: 20px;

  list-style-type: none;
}

.products__item-second {
  display: flex;
  gap: 20px;
  
  align-items: center;
}

.products__description-second {
  max-width: 200px;
  
  font-family: v.$font-2;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 0%;
  color: v.$font-color-description;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
// }