$font: Oswald, Arial, Helvetica, sans-serif;
$font-2: Lato, Arial, Helvetica, sans-serif;
$font-color-main: rgba(255, 255, 255, 1);
$font-color-main-activ: rgba(255, 255, 255, 0.25);
$font-color-second: rgba(0, 0, 0, 1);
$font-color-description: rgba(34, 34, 34, 1);
$color-main: rgba(104, 183, 56, 1);
$color-line: rgba(217, 217, 217, 1);
$color-box: rgba(242, 242, 242, 1);
$color-link-hover: #68B738;
$color-title-active: rgba(68, 68, 68, 1);
$color-net: #666666;
$color-footer-logo-hov: rgba(62, 62, 62, 1);
$color-footer-logo-activ: rgba(107, 107, 107, 1);
$color-footer-logo-hov-sh: rgba(0, 0, 0, 0.25);
$color-button-hover: #5EAA2F;